<ion-header>
  <ion-toolbar>
    <ion-title> Universal </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-col>
    <img src="../../assets/img/logo.png" width="100" alt="" srcset="" />
  </ion-col>
  <ion-grid>
    <ion-row>
      <ion-col>
        <!-- <img src="../../assets/img/logo.png" alt="" srcset=""> -->
      </ion-col>
      <!-- <ion-col>2</ion-col> -->
      <ion-col size="auto">
        <ion-item>
          <ion-label position="floating">Escribe algo</ion-label>
          <ion-input
            type="number"
            [(ngModel)]="inputValue"
            (ionInput)="onInputChange($event)"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>4</ion-col>
      <!-- <ion-col>5</ion-col>
      <ion-col>6</ion-col> -->
    </ion-row>
  </ion-grid>

  @if (objectResult) {
  <pre> {{objectResult | json}} </pre>
  }
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title> Footer </ion-title>
  </ion-toolbar>
</ion-footer>
