#background-content{
  background: beige;
}

ion-col {
  // background-color: #135d54;
  // border: solid 1px #fff;
  color: #fff;
  text-align: center;
}


ion-toolbar {
  text-align: center;
  --background: #1e429f;
  --color: white;

  // --border-color: #f24aec;
  // --border-width: 4px 0;
  // --border-style: double;

  --min-height: 80px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

// #FACA15